.agents/
.github/
.git/
.idea/
.pi/
.vscode/

assets/
docs/
examples/

node_modules/
target/
tests/
web/

.env
.gitignore
.release-it.json
authorized_keys.yml
cliff.toml
config
config.bak*
deploy.sh
server.yml
xavierdb.log*

*.md
*.swp
*.tmp
